#root {
  max-width: 66.666666666vh;
  margin: 0 auto;
  text-align: center;
}

.answerField {
  width: 100%;
  font-size: 10vh;
  text-align: right;
  margin-right: 1vh;
  border: none;
  background-color: hsl(0, 0%, 14%);
  color: white;
  height: 16.666666666vh;
}

.button-orange {
  width: 25%;
  height: 15.66666666vh;
  border-radius: 9999px;
  background-color: #FF9F0A;
  font-size: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vh;
  color: white;
}

.button-orange:hover {
  background-color: #F4C995
}

.button-dark-gray {
  width: 25%;
  height: 15.666666666vh;
  border-radius: 9999px;
  background-color: #333333;
  font-size: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vh;
  color: white;
}

.button-dark-gray:hover {
  background-color: #737373
}

.button-light-gray {
  width: 25%;
  height: 15.666666666vh;
  border-radius: 9999px;
  background-color: #A6A6A6;
  font-size: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vh;
  color: white;
}

.button-light-gray:hover {
  background-color: #D9D9D9
}


.button-big {
  width: 50%;
  height: 15.666666666vh;
  border-radius: 9999px;
  background-color: #333333;
  color:white;
  font-size: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vh;
}

.button-big:hover {
  background-color: #737373;
}

.operator-active {
  background-color: white;
  color: #FF9F0A; /* Example: Orange text */
}